{% extends 'base.html' %}

{% block container %}
<main>
    <div id="mainLeft">
        <h1 class="welcomeText">Welcome to Midnight Tomes</h1>
        <p class="welcomeText">Step into a realm where stories spark to life and every shelf hides a new adventure</p>
        <p class="welcomeText">From ancient prophecies to enchanted kingdoms, our collection brings magic to every reader</p>
        <p class="welcomeText">Discover worlds beyond imagination—your next great quest begins between our pages</p>
    </div>

    <div id='mainRight'>
        <h1>Shop by category:</h1>
        <div id='categorySelections'>
            {% for category in categories %}
                <div class='category'>
                    <!-- Category name link -->
                    <p><a href="/category/{{ category.id }}">
                            {{ category.name }}
                        </a>
                    </p>
                    <!-- Category image link -->
                    <a href="/category/{{ category.id }}">
                        <img src="{{ url_for('static', filename='images/categories/' ~ category.image) }}"
                             alt="{{ category.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}
